#carousel{
    background: #172E52;
    padding: 97px 0 95px 0;

    .swiper {
        padding-bottom: 50px;
    }

    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            padding: 0 15px;
            .row{
                display: flex;
                .text{
                    max-width: 30%;
                    width: 100%;
                    h4{
                        font-family: "OpenSans-Bold";
                        font-size: 35px;
                        color: #FFFFFF;
                        margin-top: 146px;
                    }
                    .figura{
                        margin-left: 64%;
                        position: relative;
                    }
                }
                .carousels{
                    max-width: 70%;
                    width: 100%;
                    .carousel{
                        .swiper-slide{
                            .tarjeta{
                                background: #FFFFFF;
                                height: 100%;
                                .imagen{
                                    width: 100%;
                                    height: 217px;
                                    img{
                                        position: relative !important;
                                        height: 217px !important;
                                    }
                                }
                                .content{
                                    background: #FFFFFF;
                                    padding: 62px 30px;
                                    h5{
                                        font-family: "OpenSans-Bold";
                                        font-size: 20px;
                                        color: #172E52;
                                    }
                                    p{
                                        font-family: "OpenSans-Regular";
                                        font-size: 16px;
                                        color: #172E52;
                                    }
                                }
                            }
                        }
                        .swiper-wrapper{
                            height: 490px !important;
                        }
                        .swiper-button-prev, .swiper-button-next{
                            bottom: 1%;
                            top: auto;
                        }
                        .swiper-button-prev{
                            left: auto;
                            right: 60px;
                            &::after{
                                content: url('../../../../../packages/ui/iconos/arrow-left-s-fill.svg');
                            }
                        }
                        .swiper-button-next{
                            &::after{
                                content: url('../../../../../packages/ui/iconos/arrow-rig-s-fill\ .svg');
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    #carousel{
        padding: 0;
        .holder{
            padding: 0 30px;
            .container-fluid{
                padding: 0;
                .row{
                    display: block;
                    .text{
                       display: none;
                    }
                    .carousels{
                        max-width: 100%;
                        width: 100%;
                        .carousel{
                            .swiper-slide{
                                max-width: 100%;
                                width: 100% !important;
                                margin-right: 0 !important;
                            }
                            .swiper-wrapper{
                                height: 100% !important;
                                .swiper-slide{

                                    &:nth-child(6){
                                        display: none !important;
                                    }
                                    &:nth-child(7){
                                        display: none !important;
                                    }
                                    &:nth-child(8){
                                        display: none !important;
                                    }
                                    &:nth-child(9){
                                        display: none !important;
                                    }
                                    &:nth-child(10){
                                        display: none !important;
                                    }
                                    &:nth-child(11){
                                        display: none !important;
                                    }
                                }
                            }
                            .swiper-button-prev, .swiper-button-next{
                                display: none;
                            }
                            
                        }
                        .swiper{
                            display: block;
                            .swiper-wrapper{
                                display: block !important;
                                transition-duration: 0ms !important;
                                transform: translate3d(0px,0,0) !important;
                                .tarjeta{
                                    margin: 50px auto;
                                    .content{
                                        background: #FFFFFF;
                                        padding: 17px 23px;
                                        
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }    
}